h1 {
    font-size: 2vw;
    text-align:center;
    }
p, div {font-size: 1.2vw;}
b.property {
    color:Crimson;
    }
div.hover {
    background-color: DarkCyan;
    color: white;
    padding: 25px;
    text-align: center;
    }
div.hover:hover {
    background-color: DarkGreen;
    }
div.tooltip:hover p {
     display: block;
    }
p.tooltip {
    display: none;
    background-color: yellow;
    padding: 20px;
    }
p:first-child {
    color: blue;
    }
p i:first-child {
    color: blue;
    }
q:lang(no) {
    quotes: "~" "~";
    }
