h1 {
    font-size: 2vw;
    text-align:center;
    }
p, pre, ul {
    font-size: 1.4vw
    }
b.property {
    color:Crimson;
    }
#example1 {
    background-image: url(img_flwr.gif), url(paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
    }
#example2 {
    border: 1px solid black;
    background: url(img_flwr.gif);
    background-size: 100px 80px;
    background-repeat: no-repeat;
    padding: 15px;
    }
#example3 {
  border: 1px solid black;
  background: url(img_flwr.gif);
  background-repeat: no-repeat;
  padding: 15px;
    }
#example4 {
  border: 1px solid black;
  height: 240px;
  width: 300px;
  background: url(img_flwr.gif);
  background-repeat: no-repeat;
  background-size: contain;
    }
#example5 {
  border: 1px solid black;
  height: 240px;
  width: 300px;
  background: url(img_flwr.gif);
  background-repeat: no-repeat;
  background-size: cover;
    }
#example6 {
  border: 1px solid black;
  height: 240px;
  width: 300px;
  background: url(img_flwr.gif);
  background-repeat: no-repeat;
    }
#example7 {
  border: 10px solid black;
  padding: 35px;
  background: url(img_flwr.gif);
  background-repeat: no-repeat;
    }
#example8 {
  border: 10px solid black;
  padding: 35px;
  background: url(img_flwr.gif);
  background-repeat: no-repeat;
  background-origin: border-box;
    }
#example9 {
  border: 10px solid black;
  padding: 35px;
  background: url(img_flwr.gif);
  background-repeat: no-repeat;
  background-origin: content-box;
    }
#example10 {
  border: 10px dotted black;
  padding: 35px;
  background: yellow;
}
#example11 {
  border: 10px dotted black;
  padding: 35px;
  background: yellow;
  background-clip: padding-box;
}
#example12 {
  border: 10px dotted black;
  padding: 35px;
  background: yellow;
  background-clip: content-box;
}
