h1 {
    font-size: 2vw;
    text-align:center;
    }
p, div {font-size: 1.2vw;}
b {
    color:Crimson;
    }
div.ex1 {
  width: 1200px;
  margin: auto;
  border: 3px solid #73AD21;
    }
div.ex2 {
  max-width: 1200px;
  margin: auto;
  border: 3px solid #73AD21;
    }
