h1 {
    font-size: 2vw;
    text-align:center;
    }
h2 {
    font-size: 1.7vw;
    text-align:center;
    }
p, ul, div {font-size: 1.2vw;}
b.property {
    color:Crimson;
    }
div.static {
  position: static;
  border: 3px solid #73AD21;
    }
div.relative_right {
  position: relative;
  right: 30px;
  border: 3px solid #73AD21;
    }
div.relative_left {
  position: relative;
  left: 50px;
  border: 3px solid #73AD21;
    }
div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
  background-color: #cae8ca
}
div.relative {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid #73AD21;
}
div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}
div.sticky {
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}
