h1 {font-size: 2vw; text-align:center;}
p {font-size: 1.4vw}
div {background-color: green;font-size:1.2vw;}
div.first {
  opacity: 0.1;
}
div.second {
  opacity: 0.3;
}
div.third {
  opacity: 0.6;
}
div.fourth {
  background: rgb(0, 128, 0, 0);
}
div.fifth {
  background: rgba(0, 128, 0, 0.1);
}
div.sixth {
  background: rgba(0, 128, 0, 0.3);
}
div.seventh {
  background: rgba(0, 128, 0, 0.6);
}
