h1 {
    font-size: 2vw;
    text-align:center;
    }
h2 {
    font-size: 1.7vw;
    text-align:center;
    }
p, div, form, input, pre, select {
    font-size: 1.4vw;
    }
b.property {
    color:Crimson;
    }
input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: width 0.4s ease-in-out;
    }
input[type=text]:focus {
    border: 3px solid #555;
    background-color:snow;
    }
input[type=text]:focus {
    width: 50%;
    }
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    }
select {
    width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    }
