h1 {
    font-size: 2vw;
    text-align:center;
    }
p, ul {font-size: 1.2vw;}
b.property {
    color:Crimson;
    }
ul.image {
    list-style-image: url('sqpurple.gif');
    }
ul.a {
    list-style-position: outside;
    width:50%;
    }
ul.b {
    list-style-position: inside;
    width:50%;
    }
ul.demo {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
ul.shorthand {
    list-style: square inside url("sqpurple.gif");
}
