h1 {
    font-size: 2vw;
    text-align:center;
    }
h2 {
    font-size: 1.7vw;
    }
p, ul, table {font-size: 1.2vw;}
b.property {
    color:Crimson;
    }
table, td, th {
      border: 5px solid DarkGreen;
    }
#table1 {
    border-collapse: separate;
    border-spacing: 10px;
    border-color: Navy;
    }
#table2 {
    border-collapse: collapse;
    border-spacing: 10px;
    }
#cap_bottom {
    caption-side: bottom;
    border-collapse: collapse;
    }
#cap_top {
    caption-side: top;
    border-collapse: collapse;
    }
#hide_border {
    empty-cells: hide;
    }
#show_border {
    empty-cells: show;
    }
table.a {
    table-layout: auto;
    width: 180px;
    }
table.b {
    table-layout: fixed;
    width: 180px;
    }
table.c {
    table-layout: auto;
    width: 100%;
    }
table.d {
    table-layout: fixed;
    width: 100%;
    }
