h1 {
    font-size: 2vw;
    text-align:center;
    }
p, ul {
    font-size: 1.4vw
    }
b.property {
    color:Crimson;
    }
#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30 round;
    }
#borderimg_stretch {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30 stretch;
    }
#borderimg1 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 50 round;
    }
#borderimg2 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 20% round;
    }
#borderimg3 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30% round;
    }
#borderimg4 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 20% stretch;
    }
#borderimg5 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30% stretch;
    }
