h1 {
    font-size: 2vw;
    text-align:center;
    margin: 0 0 50px 0;
    }
h2 {
    font-size:1.4vw
    margin: 20px 0 0 0;
    }
p, ul {font-size: 1.2vw;}
b.property {
    background-color:LightGrey;
    color:Crimson;
    }
p.margin70 {
      margin: 70px;
      border: 1px solid #4CAF50;
    }
p.different {
      border: 1px solid black;
      margin-top: 100px;
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 80px;
      background-color: lightblue;
    }
p.four {
      border: 1px solid black;
      margin: 25px 50px 75px 100px;
      background-color: lightblue;
    }
p.three {
      border: 1px solid black;
      margin: 25px 50px 75px;
      background-color: lightblue;
    }
p.two {
      border: 1px solid black;
      margin: 25px 50px;
      background-color: lightblue;
    }
p.one {
      border: 1px solid black;
      margin: 25px;
      background-color: lightblue;
    }
p.auto {
      width: 300px;
      margin: auto;
      border: 1px solid red;
    }
div {
      border: 2px dotted green;
      margin-left: 100px;
      }
p.inherited {
      margin-left: inherit;}
    }
